{% extends 'base.html' %}

{% block content %}
  <h1>Resultados da Pesquisa por Continentes</h1>

  <h2>Continente Encontrado</h2>
  {% if continentes %}
    <ul>
      {% for continente in continentes %}
        <li>
          <a href="{{ url_for('view_habitats_by_continentes', id=continente.continente_id) }}">
            {{ continente.continente_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum continente encontrado.</p>
  {% endif %}
{% endblock %}
