<!-- templates/index.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>PlanetZoo Database</h1>

    <h2>About</h2>
    <p>This web application illustrates the use of the PlanetZoo database. The application is built using 
        <a href="https://docs.python.org/3/library/sqlite3.html">sqlite3</a>,
        <a href="https://flask.palletsprojects.com">Flask</a>, and
        <a href="https://jinja.palletsprojects.com">Jinja</a>.
    </p>

    <h2>Some Database Statistics</h2>
    <table>
        <tr>
            <th>Items</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>Animais</td>
            <td>{{ stats.animal_id }}</td>
        </tr>
        <tr>
            <td>Continentes</td>
            <td>{{ stats.continente_id }}</td>
        </tr>
        <tr>
            <td>Dietas</td>
            <td>{{ stats.dieta_id }}</td>
        </tr>
        <tr>
            <td>Habitats</td>
            <td>{{ stats.habitat_id }}</td>
        </tr>
        <tr>
            <td>Origens</td>
            <td>{{ stats.animal }}</td>
        </tr>
    </table>

    <h2>Sample Functionality</h2>

    <h3>Animals</h3>
    <p>
        <a href="/animais">List all</a>
    </p>
    <p>Get animal info:
        <form name="aid" action="javascript:window.open('/animais/'+document.forms['aid'].elements['id'].value,'_self')">
            Animal Id:<input value="123" name="id" type="number" min="1" /><input type="submit" value="get" />
        </form>
    </p>

    <p>Search by name:
        <form name="asearch" action="javascript:window.open('/animal/search/'+document.forms['asearch'].elements['expr'].value,'_self')">
            <input name="expr" id="expr" value="" required />
            <input type="submit" value="search" />
        </form>
    </p>

    <h3>Continents</h3>
    <p>
        <a href="/continentes">List all</a>
    </p>
    <p>Get continent info:
        <form name="cid" action="javascript:window.open('/continentes/'+document.forms['cid'].elements['id'].value,'_self')">
            Continent Id:<input value="1" name="id" type="number" min="1" /><input type="submit" value="get" />
        </form>
    </p>

    <h3>Diets</h3>
    <p>
        <a href="/dietas">List all</a>
    </p>
    <p>Get diet info:
        <form name="did" action="javascript:window.open('/dieta/'+document.forms['did'].elements['id'].value,'_self')">
            Diet Id:<input value="1" name="id" type="number" min="1" /><input type="submit" value="get" />
        </form>
    </p>

    <h3>Habitats</h3>
    <p>
        <a href="/habitats">List all</a>
    </p>
    <p>Get habitat info:
        <form name="hid" action="javascript:window.open('/habitats/'+document.forms['hid'].elements['id'].value,'_self')">
            Habitat Id:<input value="1" name="id" type="number" min="1" /><input type="submit" value="get" />
        </form>
    </p>

{% endblock %}
